/*Content from https://howlt.com/en/ for learning purposes*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
    --font-sans-serif: "martel sans", sans-serif;
    --font-serif: "domine", serif;
    --font-italics: "Merriweather";
    --black: black;
    box-sizing: border-box;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

/*TYPOGRAPHY*/
p,
h1,
li {
    font-family: var(--font-sans-serif);
    font-size: 22px;
    line-height: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.small li {
    font-size: 1.1rem;
}

h2 {
    font-family: var(--font-serif);
    font-size: 1.1em;
    font-size: 4em;
    font-weight: 400;
    margin: 0;
}

/*I created a lot of heading size workarounds due to a large number of font sizes used on the site*/
h2.small {
    font-size: 1.2em;
    text-transform: none; 
    text-align: center;
    margin: 0 0 1em;
}

h2.extrasmall {
    font-size: 0.8em;
}

h3 {
    font-family: var(--font-sans-serif);
    font-size: 1.1em;
    font-weight: 200;
    text-transform: uppercase;
}

h3.small {
    font-size: 0.8em;
}

h4 {
    font-family: var(--font-sans-serif);
    font-size: 0.8em;
    font-weight: 200;
}

h4.large {
    font-size: 1em;
    margin: 1em 0 0;
}

em {
    font-family: var(--font-italics);
    font-size: 0.6em;
}

.contact li {
    font-size: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

/*Typography - mobile*/
@media screen and (max-width: 600px) {
    p,
    .contact li {
        font-size: 16px;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 0.8em;
    }

    h4.large {
        font-size: 0.8em;
    }
    }

/*NAVIGATION*/
.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding-top: 1rem;
}

a {
    color: var(--black);
    text-decoration: none;
}

select {
    font-size: 0.9em;
    border: none;
}

.nav-list {
    list-style: none;
    text-transform: none;
    font-family: var(--font-sans-serif);
}

/*Nav - Logo*/
.nav-heading {
    position: relative;
    left: 3rem;
}

/*Nav - Pages*/
.nav-page .nav-list {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 2.5vw;
    padding: 0 3.5rem;
}

.nav-page .nav-list li { 
    font-size: 1rem;
}

/*Nav - Icons*/
.nav-icon {
    position: relative;
    right: 0.5rem;
}

.nav-icon .nav-list {
    display: flex;
}

.nav-icon .nav-list li {
    margin: 0 0.3rem;
    padding: 0 0.3rem;
    font-size: 1.3rem;
}

/*COVER SECTION*/
.cover-section {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(auto, 950px);
    text-align: center;
}

.cover-section__cell img {
    max-height: 50rem;
    width: 100%;
    margin-bottom: 3.5rem;
}

.cover-section:first-child {
    margin-top: 10rem;
}

/*RECENT POSTS*/
.gallery h2{
    text-align: center;
    margin: 8rem 0 1rem;
    margin-bottom: 3.5rem;
}

.gallery {
    margin: 0 auto;
}

.gallery p {
    width: 100%;
}

.gallery .container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    margin: 0 1rem;
    grid-gap: 0.5rem;
}

.gallery__item {
    max-width: 100%;
    padding-bottom: 2rem;
}

.gallery__item img {
    height: 24vw;
    min-height: 160px;
    width: 18vw;
    min-width: 120px;
}

/*HOWLT COFFEE*/
.post {
    margin-top: 4rem;
}

.post__item h2 img {
    width: 20vw;
    min-width: 200px;
}

.post .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.post__item {
    padding: 0 4rem 0;
}

.post__item:nth-child(2) {
    padding: 0;
    max-width: 100%;
}

.post h2 {
    margin: 5rem 0;
}

.post__item--paragraph {
    padding: 1.5rem 0 2rem;
}

.post em{
    font-size: 1rem;
}

/*INSTAGRAM*/
h3.instagram  {
    text-align: center;
    text-transform: none;
    margin: 12rem 0 4rem;
    position: relative;
    font-size: 0.9rem;
    z-index: -1;
}

.large-icon {
    font-size: 1.2rem;
}

/*NEWSLETTER*/
.newsletter {
    margin: 12rem 0 8rem;
    text-align: center;
}

input[type=email] {
    width: 40%;
    border: none;
    border-bottom: 2px solid black;
}

input[type=submit] {
    background-color: black;
    font-family: var(--font-sans-serif);
    font-size: 0.8rem;
    text-transform: uppercase;
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    position: relative;
    bottom: 10.5px;
    z-index: -1;
}

/*CONTACT*/
.contact {
    width: 80%;
    margin: 4rem auto; 
    border-top: 0.7px solid #d9d9d9;
}

.contact img {
    padding-top: 4rem;
}

.contact .container {
    display: flex;
    justify-content: space-between;
    padding-right: 15rem;
    flex-wrap: wrap;
}

.itm1 {
    flex-basis: 20rem;
}

.contact ul, p {
    padding: 0;
    margin: 0;
    min-width: 250px;
}

h2.extrasmall {
    font-weight: 100;
    text-transform: none;
    margin: 2rem 0 .2rem;
}

p.map {
    text-decoration: underline;
    font-size: 0.8em;
}

.contact i {
    margin: 0 0.8rem;
}

.contact .small li {
    font-size: 0.9rem;
}

/*FOOTER*/
footer {
    margin-top: 10rem;
    padding: 1rem 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

footer p {
    font-size: 1em;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

footer p:first-child {
    padding-left: 4vw;
}

