*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
    --font-sans-serif: "martel sans", sans-serif;
    --font-serif: "domine", serif;
    --font-italics: "Merriweather";
    --black: black;
    box-sizing: border-box;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

/*TYPOGRAPHY*/
/*Typography - desktop*/
@media screen and (min-width: 601px) {
p {
    font-size: 24px;
}

h2 {
    font-size: 4em;
}

h2.small {
    font-size: 1.3em;
}

h2.extrasmall {
    font-size: 0.8em;
}

h3 {
    font-size: 1.1em;
}

h3.small {
    font-size: 0.8em;
}

h4 {
    font-size: 0.8em;
}

h4.large {
    font-size: 1em;
}

em {
    font-size: 0.6em;
}

select {
    font-size: 0.9em;
}

.small li {
    font-size: 1.1rem;
}

.contact li {
    font-size: 1.5rem;
}

.contact .small li {
    font-size: 0.9rem;
}
}

/*Typography - mobile*/
@media screen and (max-width: 600px) {
p {
    font-size: 16px;
}
}

/*Typography - all*/
p,
h1,
li {
    font-family: var(--font-sans-serif);
    line-height: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: var(--font-serif);
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}

h2.small {
    text-transform: none; 
    text-align: center;
    margin: 0 0 1em;
}

h3 {
    font-family: var(--font-sans-serif);
    font-weight: 200;
    text-transform: uppercase;
}

h4 {
    font-family: var(--font-sans-serif);
    font-weight: 200;
}

h4.large {
    margin: 1em 0 0;
}

em {
    font-family: var(--font-italics);
}

/*nav*/
.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 2rem 0 0.5rem;
    background: white;
}

a {
    color: var(--black);
    text-decoration: none;
}

select {
    border: none;
}

.nav-list {
    list-style: none;
    text-transform: none;
    font-family: var(--font-sans-serif);
}

/*Nav - Logo*/
.nav-heading {
    position: relative;
    left: 3rem;
}

/*Nav - Pages*/
.nav-page .nav-list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(6, minmax(auto, 75px));
    grid-gap: 1rem;
    padding: 0 2rem 0 2rem;
}

.nav-page .nav-list li { 
    font-size: 1rem;
    text-align: right;
}

/*Nav - Icons*/
.nav-icon {
    position: relative;
    right: 0.5rem;
}

.nav-icon .nav-list {
    display: flex;
}

.nav-icon .nav-list li {
    margin: 0 0.3rem;
    padding: 0.3rem;
    font-size: 1.3rem;
}

/*Cover section*/
.cover-section {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(auto, 950px);
    text-align: center;
}

.cover-section__cell img {
    max-height: 50rem;
    width: 100%;
    display: cover;
    margin-bottom: 3.5rem;
}

.cover-section:first-child {
    margin-top: 10rem;
}

/*Recent Posts*/
.gallery h2{
    text-align: center;
    margin: 1rem;
    margin-bottom: 3.5rem;
}

.gallery {
    margin-top: 8rem;
    padding: 4rem;
}

.gallery__item img {
    max-width: 340px;
    height: 450px;
}
  
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(340px, 1fr));
}

.gallery__item {
    padding-bottom: 2rem;
}

/*Howlt Coffee*/
.post .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 50%));
}

.post__item {
    padding: 0 8rem 0 4rem;
}

.post__item img {
    max-width: 400px;
}

.post__image img {
    padding: 0;
    max-height: 50rem;
    width: 100%;
    object-fit: cover;
}

.post h2 {
    margin: 5rem 0 10rem;
}

.post__item--paragraph {
    padding: 1.5rem 0 2rem;
}

.post em{
    font-size: 1rem;
}

/*Instagram*/
h3.instagram  {
    text-align: center;
    text-transform: none;
    margin-bottom: 4rem;
    position: relative;
}

.large-icon {
    font-size: 1.5rem;
}

/*Newsletter*/
.newsletter {
    margin: 12rem 0 8rem;
    text-align: center;
}

input[type=email] {
    width: 40%;
    border: none;
    border-bottom: 2px solid black;
}

input[type=submit] {
    background-color: black;
    font-family: var(--font-sans-serif);
    font-size: 0.8rem;
    text-transform: uppercase;
    color: white;
    border: none;
    padding: 0.8rem 3rem;
    position: relative;
    bottom: 10.5px;
}

/*Contact*/
.contact {
    margin: 4rem 5rem;
    padding: 1rem 0;
    border-top: 1px solid #ccc;
}

.contact img {
    padding-top: 4rem;
}

.contact .container {
    display: flex;
    justify-content: space-between;
    padding-right: 15rem;
    flex-wrap: wrap;
}

.itm1 {
    flex-basis: 20rem;
}

ul {
    padding: 0;
    margin: 0;
}

h2.extrasmall {
    font-weight: 100;
    text-transform: none;
    margin: 2rem 0 .2rem;
}

.contact p{
    margin: 0;
    padding: 0;
}

p.map {
    text-decoration: underline;
    font-size: 0.8em;
}

.contact i {
    margin: 0 0.8rem;
}

/*Footer*/
footer {
    margin-top: 10rem;
    padding: 1rem 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer p {
    font-size: 0.9em;
    font-weight: 100;
    padding: 0 1rem;
}

footer .itm1 {
    padding-left: 5rem;
}



