<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Components | Howlt</title>
        <link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Domine&family=Martel+Sans&display=swap" rel="stylesheet">
        <link href="css/normalize.css" rel="stylesheet" />
        <link href="css/main.css" rel="stylesheet" />
    </head>

    <body>
        <h1>Web Components</h1>

        <h2>Typography</h2>

        <article class="component">
            <h3 class="component__name">body</h3>
            <div class="component__image">
                <img src="image/type-body.PNG" alt="body copy">
            </div>

            <div class="component__code">
                <p>In May 2019, we opened Howlt Coffee, a coffee shop based on the concept of art and design, on the first floor of the former Daimyo Elementary School, located in Tenjin, the center of Fukuoka. In addition to delicious coffee made from carefully selected beans and seasonal drinks, we offer a wide variety of original Howlt products and goods by contemporary artists selected from around the world.</p>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">headings (h2, h3, h4)</h3>
            <div class="component__image">
                <img src="image/type-h2.PNG" alt="h2">
                <img src="image/type-h3.PNG" alt="h3">
                <img src="image/type-h4.PNG" alt="h4">
            </div>

            <div class="component__code">
                <h2>Akuy</h2>
                <h3>New Artwork</h3>
                <h4>Hotdogs Menu of Howlt Coffee</h4>
            </div>
        </article>

    </body>
</html>