<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Components | Howlt</title>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Domine&family=Martel+Sans&display=swap" rel="stylesheet">
        <link href="fonts/fontawesome/css/all.css" rel="stylesheet">
        <link href="css/normalize.css" rel="stylesheet" />
        <link href="css/main.css" rel="stylesheet" />
    </head>

    <body>

        <main>
            <h1 class="component__name">Web Components</h1>
            <p class="component__name">Components for the <a href="https://howlt.com/en/">Howlt</a> website.</p>

            <!--Typography-->
            <h2 class="component__name">Typography</h2>
            <article class="component">
                <h3 class="component__name">body</h3>
                <div class="component__image">
                    <img src="image/type-body.PNG" alt="body copy">
                </div>

                <div class="component__code">
                    <p>In May 2019, we opened Howlt Coffee, a coffee shop based on the concept of art and design, on the first floor of the former Daimyo Elementary School, located in Tenjin, the center of Fukuoka. In addition to delicious coffee made from carefully selected beans and seasonal drinks, we offer a wide variety of original Howlt products and goods by contemporary artists selected from around the world.</p>
                </div>
            </article>

            <article class="component">
                <h3 class="component__name">headings (h2, h3, h4)</h3>
                <div class="component__image">
                    <img src="image/type-h2.PNG" alt="h2">
                    <img src="image/type-h3.PNG" alt="h3">
                    <img src="image/type-h4.PNG" alt="h4">
                </div>

                <div class="component__code">
                    <h2>Akuy</h2>
                    <h3>Sign up to the Howlt newsletter</h3>
                    <h4>Hotdogs Menu of Howlt Coffee</h4>
                </div>
            </article>

            <article class="component">
                <h3 class="component__name">Emphasis</h3>
                <div class="component__image">
                    <img src="image/type-emphasis.PNG" alt="emphasis">
                </div>

                <div class="component__code">
                    <p><em>Journal</em></p>
                </div>
            </article>

            <!--Atoms-->
            <h2 class="component__name">Atoms</h2>
            <article class="component">
                <h3 class="component__name">icons</h3>
                <div class="component__image">
                    <img src="image/icon-instagram.PNG" alt="instagram">
                    <img src="image/icon-facebook.PNG" alt="facebook">
                    <img src="image/icon-twitter.PNG" alt="twitter">
                    <img src="image/icon-shoppingbag.PNG" alt="instagram">
                </div>

                <div class="component__code">
                        <p><a href="#!"><i class="fab fa-instagram"></i></a></p>
                        <p><a href="#!"><i class="fab fa-facebook-f"></i></a></p>
                        <p><a href="#!"><i class="fab fa-twitter"></i></a></p>
                        <p><a href="#!"><i class="fas fa-shopping-bag"></i></a></p>
                </div>
            </article>

            <!--Navigation-->
            <h2 class="component__name">Navigation</h2>
            <article class="component">
                <h3 class="component__name">.nav-main</h3>
                <div class="component__image">
                    <img src="image/main-nav.PNG" alt="main navigation">
                </div>

                <div class="component__code">
                    <div class="container">     
                        <div class="nav-main">
                            <div class="nav-main__heading">
                                <h1 class="nav-heading"><a href="index.html"><img src="image/logo.PNG" alt="Howlt"></a></h1>
                            </div>
        
                            <nav>
                                <ul class="nav-list nav-list__items">
                                    <li class="nav-list__items--active"><a href="#!">Works</a></li>
                                    <li><a href="#!">Journal</a></li>
                                    <li><a href="#!">Shop</a></li>
                                    <li><a href="#!">Cafe</a></li>
                                    <li><a href="#!">About</a></li>
                                    <li><a href="#!">Contact</a></li>
                                </ul>
                            </nav>
                                
                            <div>
                                <ul class="nav-list nav-list__icons">
                                    <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                    <div class="nav-list__select">
                                        <select name="lang" id="lang-select"><li><a href="#!">EN <div class="dropdown">v</div></a></li>
                                            <option value="english">EN</option>
                                            <option value="japanese">JA</option>
                                        </select>
                                    </div>
                                    <li><a href="#!"><i class="fas fa-shopping-bag"></i></a></li>
                                </ul>
                            </div>
                        </div> <!--nav div-->
                    </div> <!--containter div-->
                </div>
            </article>

             <!--Cover Section-->
             <h2 class="component__name">Cover</h2>
             <article class="component">
                 <h3 class="component__name">.cover-section</h3>
                 <div class="component__image">
                     <img src="image/cover-section.PNG" alt="cover section">
                 </div>
 
                 <div class="component__code">
                     <div class="cover-section">
                        <div class="cover-section__cell">
                            <img src="https://images.ctfassets.net/j183l2yzdbu4/7z3Zl4WAkqSFU4VF8BVRot/bde64a9e2f091992c7ac2f1eb3518be5/DSC_1272.jpg?w=1600&h=1068&q=75&fm=webp" alt="Cover in Pink">
                            <h3 class="small"><a href="#!">View more products</a></h3>
                            <h2>Stuck in Pink</h2>
                            <h3>New Long Sleeve Tee</h3>
                        </div>
                    </div>
                 </div>
             </article>

              <!--Recent Posts-->
              <h2 class="component__name">Gallery</h2>
              <article class="component">
                  <h3 class="component__name">.gallery</h3>
                  <div class="component__image">
                      <img src="image/recent-posts.PNG" alt="recent posts">
                  </div>
  
                    
                    <div class="component__code">
                        <h2 class="small">Recent Posts</h2>

                        <section class="gallery">
                            <div class="container">
                                <article class="gallery__item">
                                    <a href="#!"><img src="https://images.ctfassets.net/j183l2yzdbu4/7z3Zl4WAkqSFU4VF8BVRot/bde64a9e2f091992c7ac2f1eb3518be5/DSC_1272.jpg?w=400&h=267&q=70&fm=webp" alt="New Long Tee Stuck in Pink"></a>
                                    <p><em><a href="#!">Journal</a></em></p>
                                    <h4 class="large">New Long Tee Stuck in Pink</h4>
                                    <p><em><a href="#!">News</a></em></p>
                                </article>

                                <article class="gallery__item">
                                    <a href="#!"><img src="https://images.ctfassets.net/j183l2yzdbu4/7tStfbpsvmTobw8oUp85id/f847d1b5d40adc24312c96d218c8b20f/DSCF1428-Edit.jpg?w=400&h=300&q=70&fm=webp" alt="Howlt coffee"></a>
                                    <p><em><a href="#!">Journal</a></em></p>
                                    <h4 class="large">Howlt Coffee</h4>
                                    <p><em><a href="#!">Howlt Coffee</a></em></p>
                                </article>

                                <article class="gallery__item">
                                    <a href="#!"><img src="https://images.ctfassets.net/j183l2yzdbu4/54Xhj0xnvTUSNQKnL0owzz/0dc4baba9aa9bf22d09050a48ebe4625/akuy-fit.jpg?w=400&h=282&q=70&fm=webp" alt="AKUY"></a>
                                    <p><em><a href="#!">Works</a></em></p>
                                    <h4 class="large">AKUY</h4>
                                    <p><em><a href="#!">Contemporary</a></em></p>
                                </article>

                                <article class="gallery__item">
                                    <a href="#!"><img src="https://images.ctfassets.net/j183l2yzdbu4/3h5wCKXRMvzixwqQEw1Yvu/2884878a529637171cfa8ecfdd0807bf/stuck-in-pink-tee-wide.jpg?w=400&h=294&q=70&fm=webp" alt="Stuck in pink"></a>
                                    <p><em><a href="#!">Shop</a></em></p>
                                    <h4 class="large">Stuck in Pink</h4>
                                    <p><em><a href="#!">Tees</a></em></p>
                                </article>

                                <article class="gallery__item">
                                    <a href="#!"><img src="https://images.ctfassets.net/j183l2yzdbu4/75xQKKfJscpaUjLRrHkJOZ/6cb44f883576fe058c207f6ba07fbb4d/smile-wide.jpg?w=400&h=294&q=70&fm=webp" alt="Have a smile tee"></a>
                                    <p><em><a href="#!">Shop</a></em></p>
                                    <h4 class="large">Have a Smile&#174; Tee</h4>
                                    <p><em><a href="#!">Tees</a></em></p>
                                </article>
                            </div>
                        </section>
                    </div>
              </article>

            <!--Howlt Coffee-->
             <h2 class="component__name">Post</h2>
             <article class="component">
                 <h3 class="component__name">.post</h3>
                 <div class="component__image">
                     <img src="image/section.PNG" alt="section">
                 </div>
                 
                 <div class="component__code">
                 <section class="post">
                    <div class="container">
                        <article class="post__item">
                            <h2><img src="image/logo-coffee.PNG" alt="Howlt coffee"></h2>
                            <p><em><a href="#!">&#62; About Howlt Coffee</a></em></p>
                            <p><em><i class="fas fa-external-link-alt"></i>Go To Website</em></p>
                            <p class="post__item--paragraph">In May 2019, we opened Howlt Coffee, a coffee shop based on the concept of art and design, on the first floor of the former Daimyo Elementary School, located in Tenjin, the center of Fukuoka. In addition to delicious coffee made from carefully selected beans and seasonal drinks, we offer a wide variety of original Howlt products and goods by contemporary artists selected from around the world.</p>
                        </article>

                        <article class="post__image">
                            <img src="https://images.ctfassets.net/j183l2yzdbu4/39pnENVbm5m9f4YREIhErg/9bb4c1f5616cfc92515f5ce143b17cba/He-graphic.jpg?w=1600&h=1789&q=75&fm=webp" alt="Howlt Coffee">
                        </article>
                    </div>
                </section>
                </div>
            </article>
        
        <!--Newsletter-->
        <h2 class="component__name">Form</h2>
             <article class="component">
                 <h3 class="component__name">.newsletter</h3>
                 <div class="component__image">
                     <img src="image/newsletter.PNG" alt="newsletter sign-up">
                 </div>
 
                 <div class="component__code">
                     <div class="newsletter">
                        <h3>Sign up to the Howlt newsletter</h3>
                        <form action="my-form.php" method="POST">
                            <input type="email" name="email"><input type="submit" value="submit">
                        </form>
                    </div>
                 </div>
             </article>

        </main>

    </body>
</html>