*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
    --font-sans-serif: "martel sans", sans-serif;
    --font-serif: "domine", serif;
    --font-italics: "Merriweather";
    --black: black;
    box-sizing: border-box;
}

body {
    padding: 2rem;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

/*Compenent name fomatting*/
.component__name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1rem;
}

p.component__name {
    font-size: 20px;
}

h1.component__name,
h2.component__name,
h3.component__name {
    text-transform: uppercase;
    font-weight: bold;
}

h1.component__name {
    font-size: 4rem;
    margin-top: 1rem;
}

h2.component__name {
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 0;
    border-bottom: 3px solid black;
}

h3.component__name {
    font-size: 1.7rem;
    font-weight: normal;
    margin-top: 2rem;
}

.component__name a {
    text-decoration: underline;
}

/*Component image formatting*/
img {
    display: block;
    max-width: 100%;
}
.component img {
    max-width: initial;
}

.component__image {
    border: 1px solid gray;
    overflow-x: auto;
}

.component__code {
    border: 1px solid gray;
    padding-left: 0.5rem;
}

/*Typography*/
p {
    font-family: var(--font-sans-serif);
    font-size: 24px;
    line-height: 2rem;
    margin: 0;
}

h2 {
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}

h2.small {
    font-size: 1.3rem;
    text-transform: none; 
    text-align: center;
    margin: 0 0 1rem;
}

h3 {
    font-family: var(--font-sans-serif);
    font-weight: 200;
    font-size: 0.9rem;
    text-transform: uppercase;
}

h3.small {
    font-size: 0.7rem;
}

h4 {
    font-family: var(--font-sans-serif);
    font-weight: 200;
    font-size: 0.8rem;
}

h4.large {
    font-size: 1rem;
    margin: 1rem 0 0.2rem;
}

em {
    font-family: var(--font-italics);
    font-size: 0.7rem;
}


/*Navigation*/
a {
    color: var(--black);
    text-decoration: none;
}

select {
    border: none;
    font-size: 0.9rem;
}

.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-main__heading{
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    text-transform: none;
    font-family: var(--font-sans-serif);
}

.nav-main__heading {
    margin: 0 2.5rem;
}

.nav-list__items li {
    margin: 1.5rem;
    padding: 0;
    padding-bottom: 0.4em;
}

.nav-list__items--active {
    border-bottom: 3.5px solid var(--black);
}

.nav-list__icons {
    font-size: 22px;
}

.nav-list__icons li {
    margin: 0 0.3rem;
    padding: 0.3rem;
}

/*failed dropdown arrow formatting
select {
    appearance: none;
}

.nav-list__select {
    border: 1px solid red;
    width: 100%;
}

.nav-list__select::after {
    position: relative;
    left: -8px;
    content: "v";
    transform: scale(10px,0);
    font-size: 14px;
    font-weight: bolder;
    z-index: -1;
}
*/

/*Cover section*/
.cover-section {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(auto, 950px);
    text-align: center;
}

.cover-section__cell img {
    max-width: 100%;
}

/*Recent Posts*/
.gallery h2{
    text-align: center;
    margin: 1rem;
}

.gallery {
    padding: 2.6rem;
}

.gallery__item img {
    max-width: 340px;
    height: 450px;
}
  
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(340px, 1fr));
}

.gallery__item {
    padding-bottom: 2rem;
}

/*Howlt Coffee*/
.post .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(700px, 1fr));
}

.post__item {
    padding: 0 8rem 0 4rem;
}

.post__image img {
    padding: 0;
    width: 100%;
    object-fit: cover;
}

.post h2 {
    margin: 5rem 0 10rem;
}

.post__item--paragraph {
    padding: 1.5rem 0 2rem;
}

.post em{
    font-size: 1rem;
}

